aniso8601==7.0.0
backcall==0.1.0
decorator==4.4.0
Django==2.2.8
django-cors-headers==3.1.0
django-extensions==2.2.1
django-filter==2.2.0
django-graphql-jwt==0.2.2
djangorestframework==3.10.3
graphene==2.1.8
graphene-django==2.5.0
graphene-django-extras==0.4.6
graphql-core==2.2.1
graphql-relay==2.0.0
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
promise==2.2.1
prompt-toolkit==2.0.9
psycopg2==2.8.3
ptyprocess==0.6.0
Pygments==2.4.2
PyJWT==1.7.1
python-dateutil==2.8.0
pytz==2019.2
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.16.0
